

/* Загальні стилі для тіла документа */
body {
    background-color: #000000; /* чорний фон */
    font-family: 'Arial', sans-serif; /* замініть шрифт за бажанням */
    color: #000000; /* чорний текст */
}

/* Стилі для заголовка */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #ebc700;
}


/* Стилі для логотипу */
.logo {
    width: 50px;
}

/* Стилі для логотипу Instagram */
.logoinst {
    width: 50px;
    margin-left: auto; /* Вирівнюємо з правого краю */
}

/* Стилі для логотипу Telegram */
.logotg {
    width: 50px;
}

/* Стилі для назви магазину */
h1 {
    font-size: 250%;
    margin-right: 0;
    font-family: Quella, 'Source Sans Pro';
}

/* Стилі для навігаційного меню */
nav {
    font-family: Poppins, 'Source Sans Pro';
    flex-grow: 1;
    margin-right: auto; /* Вирівнюємо з правого краю */
    text-align: center; /* Вирівнюємо по центру */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 18px;
}

nav a {
    font-size: 150%;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}


/* Стилі для основного вмісту */
main {
    background-color: #000000; /* чорний фон */
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    margin-bottom: 5px; /* Збільште відступ для уникнення перекривання footer */
}




.dropdown:hover .dropdown-content {
  display: block;
}

.modal-checkbox {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c789c7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.modal-checkbox:checked + .dropdown .dropdown-content {
  display: block;
}

.modal-trigger {
  cursor: pointer;
}


@-webkit-keyframes fadeIn {
  from {
    top: -100px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    top: -100px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

.window {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.window:target {
  display: table;
  position: absolute;
}

.modal-dialog {
  display: table-cell;
  vertical-align: middle;
}

.modal-dialog .modal-content {
  margin: auto;
  background-color: #ebc700;
  position: relative;
  padding: 20px;
  outline: 0;
  border: 1px solid #ebc700;
  text-align: justify;
  width: 60%; /* Змінено на 60% ширини */
  height: 50vh; /* Змінено на 70% висоти екрана */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50px;
  /* Додано анімацію замість власних keyframes */
  animation: fadeIn 0.5s;
}

#id02 .modal-dialog .modal-content {
  height: 20vh; /* Змінено на 20% висоти екрана */
}

.closebtn {
  text-decoration: none;
  float: right;
  font-size: 25px;
  font-weight: bold;
  color: #ebc700;
}

.closebtn:hover,
.closebtn:focus,
.closebtn:active {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

main {
  text-align: center;
  padding: 20px;
}

.window label,
.window input,
.window select,
.window button {
  font-family: 'Oswald', sans-serif;
  font-size: 23px; /* Встановіть розмір шрифту за необхідністю */
}


/* Стилі для банера */
.banner {
  margin-bottom: 30px;
  margin: 0rem 0rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1.3rem 0.381rem 0rem 4.8rem;
  height: 51.2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #c789c7;
  border-radius: 2.4rem;
  flex-shrink: 0;
}

.frame-1 {
    margin: 0rem 2.4rem 9rem 0rem;
    min-width: 15%;
    max-width: 55%;
    flex-shrink: 0;
}

.hello-i-welcome-you {
    margin-bottom: 2.4rem;
    max-width: 45rem;
    font-size: 550%;
    font-weight: 800;
    line-height: 1;
    color: #000000;
    font-family: 'Oswald', sans-serif;
    flex-shrink: 0;
}

.banner h2 {
    color: #000000;
    font-weight: bold;
    padding: 0;
    border-radius: 0; /* Гострі кути */
    margin-bottom: 10px; /* Додаємо відступ під заголовком */
}

.banner p {
    margin-bottom: 50px;
    color: #000000;
    font-size: 165%;
    max-width: 100%; /* Задаємо максимальну ширину тексту для контролю ширини блоку */
    font-family: 'Oswald', sans-serif;
}

/* Стилі для кнопки "Перейти" */
.go-button {
    background-color: #000000;
    color: #c789c7;
    padding: 10px 20px;
    width: auto;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.9s, color 0.4s; /* Додаємо плавний перехід */
}

.go-button:hover {
    background-color: #ebc700; /* Змінюємо колір фону при наведенні */
    color: #000000; /* Змінюємо колір тексту при наведенні */
}

/* Стилі для фото банера */
.phbaner {
    max-width: 600px; /* Змінено максимальну ширину на 600px */
    width: 100%; /* Щоб фото займало 100% доступної ширини контейнера */
    height: auto;
    order: 1;
}

/* Стилі для контейнера банерів */
.banner-container {
  margin-top: 30px;
}

.banner-flex {
  display: flex;
  justify-content: space-around; /* Автоматичний розміщення між елементами */
  gap: 20px;
  padding-inline-start: 0px;
}

/* Стилі для кожного банера */
.banner-container li {
  font-size: 180%;
  background-color: #ebc700; /* жовтий фон */
  width: calc(33.33% - 10px); /* Задаємо ширину банера, враховуючи відступи */
  height: 200px; /* Задаємо висоту банера */
  border: 1px solid #000; /* Додаємо рамку для наглядності */
  padding: 45px; /* Додаємо відступ всередину банера */
  box-sizing: border-box; /* Враховуємо ширину рамки в розрахунках ширини і висоти */
  display: flex; /* Встановлюємо властивість flex для внутрішнього контенту */
  flex-direction: row; /* Змінено напрямок флекс контейнера на горизонтальний */
  justify-content: space-between; /* Рівномірний розподіл між елементами по горизонталі */
  align-items: center; /* Вирівнюємо елементи по центру по вертикалі */
  border-radius: 15px; /* Гострі кути */
  font-family: 'Oswald', sans-serif;
}

/* Стилі для тексту в банерах */
.banner-container li .banner-flex-text {
  flex-grow: 1; /* Займає всю доступну ширину, щоб витіснити фото вправо */
}

.banner-container li .banner-flex-text h2 {
  margin: 0; /* Знімаємо зовнішні відступи від тексту */
}

/* Стилі для зображень в банерах */
.banner-container li .banner-flex-photo img {
  max-width: 180%; /* Змінено максимальну ширину на 600px */
  width: 100%; /* Щоб фото займало 100% доступної ширини контейнера */
  height: auto;
  order: 2; /* Змінено порядок відображення - зображення буде праворуч від тексту */
}



/* Стилі для секції "hot" */
.hot h2 {
    background-color: #c789c7; /* жовтий фон */
    color: #000000; /* чорний текст */
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 0; /* Гострі кути */
    font-size: 170%;
    font-family: 'Oswald', sans-serif;
}

/* Стилі для продуктів
.product {
    width: calc(50% - 20px); /* Set the width to 50% minus some margin for spacing */
   /*  margin-right: 20px;  Add a margin between products 
    box-sizing: border-box;  Include padding and border in the width 
   padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px; 
}

.product img {
    max-width: 100%;
    height: auto;
} */

/* Product section */

.product {
    background-color: #ebc700; /* прозорий білий фон */
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.3); /* тінь */
    border-radius: 0; /* Гострі кути */
    width: calc(50% - 20px); /* Set the width to 50% minus some margin for spacing */
    margin-right: 20px; /* Add a margin between products */
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 40px; /* Add margin at the bottom to separate rows */
}

.product h3{
  font-size: 180%;
  font-family: 'Oswald', sans-serif;
}

.product h4{
  font-size: 170%;
  font-family: 'Oswald', sans-serif;
}

#shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.product:last-child {
    margin-right: 0; /* Remove margin from the last product in each row */
}

.shop-heading{
    text-align: center;
}

.product img {
    max-width: 100%;
}

button {
    background-color: #000000;
    color: #ebc700;
    padding: 10px 20px;
    width: auto;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.9s, color 0.4s; /* Додаємо плавний перехід */
    font-family: 'Oswald', sans-serif;
    
}

button:hover {
    background-color: #c789c7; /* Змінюємо колір фону при наведенні */
    color: #000000; /* Змінюємо колір тексту при наведенні */
}

.go-button-shop {
  background-color: #c789c7;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 60px;
  font-size: 18px; /* Додаємо властивість font-size для збільшення тексту */
  width: 150px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none; /* Забираємо підкреслення тексту */
  display: block; /* Забезпечує розташування кнопки на окремому рядку */
  transition: background-color 0.9s, color 0.4s; /* Додаємо плавний перехід */
}

.go-button-shop:hover {
  background-color: #ebc700;
  color: #000000;
}





/*
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebc700; /* жовтий фон 
    width: 100%;
    height: 25px;
    color: #000000; /* чорний текст 
    text-align: center;
    padding: 10px 0;
    border-radius: 0; /* Гострі кути 
}
*/

.footer-container {
  box-sizing: border-box;
  padding: 1.5rem 3.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ebc700;
  flex-shrink: 0;
}

.auto-group {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame-large {
  font-size: 120%;
  width: 24%;
  flex-shrink: 0;
  font-family: 'Oswald', sans-serif;
}

.frame-small {
  width: 36%;
  flex-shrink: 0;
}

.frame-medium {
  font-size: 120%;
  width: 48%;
  margin-left: auto; /* Прикріплюємо до правого краю */
  flex-shrink: 0;
}

.content {
  margin: 0rem 0rem 2.4rem 0.15rem;
  display: flex;
  flex-direction: column;
}

.content .brand {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Quella, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.tagline {
  max-width: 15.9rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}

.images {
  width: 100%;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
}

.images .icon {
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.frame-medium {
  font-size: 120%;
  height: 100%;
  display: flex;
  column-gap: 4.8rem;
  align-items: center;
  flex-shrink: 0;
}

.column {
  height: 100%;
  row-gap: 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.section-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.column .link {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  font-family: 'Oswald', sans-serif;
}

.frame-small {
  height: 100%;
  row-gap: 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

p.brand {
  font-size: 720%;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0px;
  margin-top: 40.640;
}

.copyright {
  margin-left: 0.1rem;
  margin-top: 0.160;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}




.questionnaire {
  font-size: 170%;
  display: flex;
  flex-wrap: wrap;
  background-color: #c789c7;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: background-color 0.9s, color 0.4s;
}

.quest_radio_set {
  flex: 1;
  margin-left: 30px; /* Додаємо відступ зправа */
}

.phquestionnaire {
  max-width: 900px;
  width: 80%;
  height: auto;
  order: 1;
}

.questionnaire p {
  color: #000000;
  font-size: 125%;
  max-width: 100%;
  font-family: 'Oswald', sans-serif;
}

.go-button-questionnaire {
  background-color: #000000;
  color: #c789c7;
  font-size: 100%;
  padding: 20px 20px;
  width: 30%;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: background-color 0.9s, color 0.4s;
}

.go-button-questionnaire:hover {
  background-color: #ebc700;
  color: #000000;
}


input[type="radio" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 5px 0px 20px;
  padding: initial;
  border: initial;
}




.contact {
  display: flex;
  flex-wrap: wrap;
  background-color: #c789c7;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: background-color 0.9s, color 0.4s;
}

.phcontact {
  max-width: 900px;
  width: 80%;
  height: auto;
  order: 1;
}

.contact h5 {
  color: #000000;
  font-size: 165%;
  max-width: 100%;
  font-family: 'Oswald', sans-serif;
  
  margin-right: 30px;
  margin-bottom: 70px;
}

.go-button-contact {
  background-color: #000000;
  color: #c789c7;
  padding: 20px 20px;
  width: 30%;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: background-color 0.9s, color 0.4s;
}

.go-button-contact:hover {
  background-color: #ebc700;
  color: #000000;
}



.filter-button {
  background-color: #c789c7;
  color: #000000;
  padding: 20px 10px;
  width: 10%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  transition: background-color 0.4s, color 0.4s;
}
.filter-button {
  background-color: #ebc700;
  color: #000000;
}




html {
  font-size: 70%;
}




.cart {
  background-color: #ebc700;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
}






.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#scrollButton {
  background-color: #ebc700; /* Задаємо фон кнопки */
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#scrollButton img {
  width: 100%;
  height: 100%;
}

#scrollButton:hover {
  background-color: #c789c7;
}
